 
@inject IStringLocalizer<CreateVariantOptionEditor> L

<h6>@L["Header.Options"]</h6>
@foreach (var option in Model.Options)
{
    <Row>
        <Row>
            <div class="d-flex align-items-center mb-2">
                <div>
                    @L["Header.Option"] @(Model.Options.IndexOf(option) + 1)
                </div>
                <div class="ms-auto">
                    <a @onclick="@(() => RemoveOption(option))" style="cursor: pointer;color: #dc3545; text-decoration: underline">@L["Button.RemoveOption"] </a>
                </div>
            </div>
        </Row>
        <Column ColumnSize="ColumnSize.Is4">
            <TextEdit @bind-Text="@option.Name"/>
        </Column>
        <Column ColumnSize="ColumnSize.Is8">
            <OsChipsInput Chips="@option.Values" OnChipsChanged="@(e => ValuesChanged(option))"/>
        </Column>
    </Row>
    <hr class="mb-2">
}

@if (Model.Options.Count < 3)
{
    <Button Color="Color.Light" Size="Size.Small" Clicked="AddOption">@L["Button.AddOption"]</Button>
}


@code {

    [Parameter]
    public ProductDto Model { get; set; }

    [Parameter]
    public EventCallback OptionsChanged { get; set; }

    protected override void OnInitialized()
    {
        if (!Model.Options.Any())
        {
            Model.Options.Add(new ProductOptionDto
            {
                Name = L["OptionName.Size"]
            });
        }
    }

    private void AddOption()
    {
        if (Model.Options.Count >= 3) return;
        
        var last = Model.Options.LastOrDefault();
        if (last is not null)
        {
            if (string.IsNullOrWhiteSpace(last.Name))
            {
                ShowWarning(L["Validation.OptionName"]);
                return;
            }

            if (!last.Values.Any())
            {
                ShowWarning(L["Validation.ValuesEmpty"]);
                return;
            }
        }

        Model.Options.Add(new ProductOptionDto
        {
            Name = Model.Options.Count switch {
                0 => L["OptionName.Size"],
                1 => L["OptionName.Color"],
                2 => L["OptionName.Material"],    
                _ => string.Empty
                }
        });
    }

    private async Task RemoveOption(ProductOptionDto option)
    {
        Model.Options.Remove(option);

        await OptionsChanged.InvokeAsync();
    }

    private async Task ValuesChanged(ProductOptionDto option)
    {
        await OptionsChanged.InvokeAsync();
    }

}
