@using OpenStore.Omnichannel.Shared.Dto.Product
@using OpenStore.Omnichannel.Shared.Request
@inject IStringLocalizer<UpdateVariantsEditor> L

<Modal @ref="_modalRef">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["UpdateVariantSkusModal.Title"]</ModalTitle>
        </ModalHeader>
        <ModalBody Class="overflow-auto" Style="max-height: 500px">
            <ListGroup>
                @if (_updateVariantSkuModelList != null)
                {
                    <ListGroupItem>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is6">
                            </Column>
                            <Column ColumnSize="ColumnSize.Is6">
                                @L["UpdateVariantSkusModal.Input.Sku"]
                            </Column>
                        </Row>
                    </ListGroupItem>
                    foreach (var updateVariantStockModel in _updateVariantSkuModelList)
                    {
                        <ListGroupItem>
                            <Row>
                                <Column ColumnSize="ColumnSize.Is6">
                                    @updateVariantStockModel.Title
                                </Column>
                                <Column ColumnSize="ColumnSize.Is6">
                                    <TextEdit @bind-Text="@updateVariantStockModel.Sku" Size="Size.Small" Placeholder="@L["UpdateVariantSkusModal.Input.Sku"]"/>
                                </Column>
                            </Row>
                        </ListGroupItem>
                    }
                }
            </ListGroup>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Light" Clicked="@Cancel">@SharedLocalizer["Generic.Cancel"]</Button>
            <Button Loading="_saving" Color="Color.Success" Clicked="@Save">@SharedLocalizer["Generic.Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    class UpdateVariantSkuModel
    {
        public string Title { get; init; }
        public Guid VariantId { get; init; }
        public string Sku { get; set; }

        public static implicit operator UpdateVariantSkuRequest(UpdateVariantSkuModel model)
            => new(model.VariantId, model.Sku);
    }

    private Modal _modalRef;
    private IEnumerable<VariantDto> _variants;
    private List<UpdateVariantSkuModel> _updateVariantSkuModelList;

    private bool _saving;

    [Parameter]
    public EventCallback ModelChanged { get; set; }

    [Parameter]
    public Guid ProductId { get; set; }

    public void Show(IEnumerable<VariantDto> variants)
    {
        _variants = variants.ToList();
        _updateVariantSkuModelList = _variants.Select(v => new UpdateVariantSkuModel
        {
            VariantId = v.Id.Value,
            Sku = v.Sku,
            Title = v.Title
        }).ToList();
        _modalRef.Show();
    }

    private void Cancel() => _modalRef.Hide();

    private async Task Save()
    {
        _saving = true;
        try
        {
            await ApiClient.Product.UpdateVariantSkus(ProductId, new UpdateVariantSkusRequest(_updateVariantSkuModelList.Select(x => (UpdateVariantSkuRequest) x)));
            _modalRef.Hide();
            await UpdateLocalState();
            _variants = null;
            _updateVariantSkuModelList = null;
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
            _saving = false;
        }
    }

    private async Task UpdateLocalState()
    {
        foreach (var variantDto in _variants)
        {
            var updateVariantPriceRequest = _updateVariantSkuModelList.Single(x => x.VariantId == variantDto.Id);
            variantDto.Sku = updateVariantPriceRequest.Sku;
        }
        await ModelChanged.InvokeAsync();
    }

}