@using System.Linq;
@using OpenStore.Omnichannel.Shared.Request

@typeparam TItem

@inject IStringLocalizer<ComponentLocalization> L

<CascadingValue Value="this" IsFixed="true">
    @if (IsSearchable)
    {
        <div class="input-group mb-4">
            <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@L["DataGrid.FilterItems"]</button>
            <div class="dropdown-menu">
                @* <a class="dropdown-item" href="#">Action</a> *@
                @* <a class="dropdown-item" href="#">Another action</a> *@
                @* <a class="dropdown-item" href="#">Something else here</a> *@
                @* <div role="separator" class="dropdown-divider"></div> *@
                @* <a class="dropdown-item" href="#">Separated link</a> *@
            </div>
            <OsSearchBox Loading="@_isReloading" Value="@_filterTerm" OnValueChanged="OnFilterChanged" />
        </div>
    }
    <div class="@ContainerCssClass">
        <table id="@Id" class="@CssClass" @attributes="TableAttributes">
            <thead>
            <tr>
                @if (IsSelectable)
                {
                    var selectColumnId = Guid.NewGuid();
                    <th class="pt-0 pb-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="@selectColumnId" @onchange="SelectAllChanged">
                            <label class="form-check-label" for="@selectColumnId"></label>
                        </div>
                    </th>
                }

                @foreach (var column in Columns)
                {
                    <th class="@column.HeaderCssClass" id="@column.Guid.ToString();">

                        @if (column.HeaderTemplate != null)
                        {
                            <span style="cursor: pointer" @onclick="(args) => OnColumnHeaderClickedEvent(args, column)">@column.HeaderTemplate(column.CustomTitle ?? column.GetColumnVisualPropertyName())</span>
                        }
                        else if (column.CustomTitle != null)
                        {
                            <span style="cursor: pointer" @onclick="(args) => OnColumnHeaderClickedEvent(args, column)">@column.CustomTitle</span>
                        }
                        else
                        {
                            <span style="cursor: pointer" @onclick="(args) => OnColumnHeaderClickedEvent(args, column)">@column.GetColumnVisualPropertyName()</span>
                        }

                        <i class="@GetColumnAscDesc(column)"></i>
                    </th>
                }
            </tr>
            </thead>
            <tbody class="list">

            @foreach (var item in _pagedItems)
            {
                <tr id="@item.GetHashCode()" @onclick="(args) => OnRowClickedEvent(args, item.Item)" @attributes="RowAttributes">
                    @if (IsSelectable)
                    {
                        var selectColumnId = Guid.NewGuid();
                        <td class="width-10 align-middle">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="@selectColumnId" value="@item.Selected" @onchange="@(e => SelectItemChanged(e, item))">
                                <label class="form-check-label" for="@selectColumnId"></label>
                            </div>
                        </td>
                    }
                    @foreach (var column in Columns)
                    {
                        if (column.RowTemplate != null)
                        {
                            <td class="@column.RowCssClass">@column.RowTemplate(item.Item)</td>
                        }
                        else if (column.ChildContent != null)
                        {
                            <td class="@column.RowCssClass">@column.ChildContent</td>
                        }
                        else if (column.Property != null)
                        {
                            var expression = column.Property.Compile();
                            var result = expression.DynamicInvoke(item);
                            <td class="@column.RowCssClass">@result</td>
                        }
                        else
                        {
                            <td class="@column.RowCssClass"></td>
                        }
                    }
                </tr>
            }

            </tbody>
        </table>

        @if (IsLoading)
        {
            <OsSpinner/>
        }
        else if (!_pagedItems.Any())
        {
            <div class="text-center text-muted p-3">
                @SharedLocalizer["Info.NoRecord"]
            </div>
        }

    </div>

    @if (PageCount > 1)
    {
        <OsPager CurrentPage="PageNumber" CurrentPageChanged="OnPageChanged" PageCount="PageCount"/>
    }

    @ChildContent

</CascadingValue>


@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public Dictionary<string, object> TableAttributes { get; set; }

    [Parameter]
    public Dictionary<string, object> RowAttributes { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public string ContainerCssClass { get; set; } = "table-responsive";

    [Parameter]
    public string CssClass { get; set; } = "table table-hover text-nowrap";

    [Parameter]
    public bool IsSearchable { get; set; } = true;

    [Parameter]
    public bool IsSelectable { get; set; } = true;

    [Parameter]
    public EventCallback<TItem> RowClickedEvent { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<TItem>> SelectedItemsChanged { get; set; }

    [Parameter]
    public Func<PageRequest, Task<PagedList<TItem>>> FetchData { get; set; }

    [Parameter]
    public int PageNumber { get; set; } = 1;

    [Parameter]
    public int PageSize { get; set; } = 20;

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    private bool IsServerSide => FetchData != null;
    private string _filterTerm;
    private OsDataGridColumn<TItem> SortColumn { get; set; }
    private OpenStore.Omnichannel.SortDirection SortDirection { get; set; } = OpenStore.Omnichannel.SortDirection.Ascending;
    private IList<OsDataGridColumn<TItem>> Columns { get; set; } = new List<OsDataGridColumn<TItem>>();
    private IEnumerable<DataGridEnvelope<TItem>> _pagedItems = new List<DataGridEnvelope<TItem>>();
    private int PageCount { get; set; }
    private bool _isReloading;
    private bool _fetchedBefore = false;

    public void AddColumn(OsDataGridColumn<TItem> column)
    {
        Columns.Add(column);
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        await Reload();
    }

    private async Task OnRowClickedEvent(MouseEventArgs args, TItem item)
    {
        await RowClickedEvent.InvokeAsync(item);
    }

    private async Task OnColumnHeaderClickedEvent(MouseEventArgs clickEvent, OsDataGridColumn<TItem> column)
    {
        if (!column.IsSortable)
            return;

        if (column.Guid == SortColumn?.Guid)
        {
            SortDirection = SortDirection == OpenStore.Omnichannel.SortDirection.Ascending ? OpenStore.Omnichannel.SortDirection.Descending : OpenStore.Omnichannel.SortDirection.Ascending;
        }
        else
        {
            SortColumn = column;
        }

        await Reload();
    }

    private async Task OnFilterChanged(string term)
    {
        _filterTerm = string.IsNullOrEmpty(term) ? null : term;
        PageNumber = 1;
        await Reload();
    }

    private async Task OnPageChanged(int pageNumber)
    {
        PageNumber = pageNumber;
        await Reload();
    }

    private async Task Reload()
    {
        if (IsServerSide)
        {
            IsLoading = !_fetchedBefore;
            _isReloading = _fetchedBefore;
            try
            {
                var pageMetadata = new PageRequest(PageNumber, PageSize, SortColumn?.GetColumnPropertyName(), _filterTerm, SortDirection);
                var pagedResult = await FetchData(pageMetadata);
                await Task.Delay(1000);
                PageCount = pagedResult.PageMeta.TotalPages.Value;
                PageNumber = pagedResult.PageMeta.CurrentPage;
                Items = pagedResult.Items;
                _pagedItems = pagedResult.Items.Select(x => new DataGridEnvelope<TItem>(x));
                _fetchedBefore = true;
            }
            finally
            {
                IsLoading = _isReloading = false;
            }
        }
        else
        {
            if (Items != null)
            {
                var query = Items.AsQueryable();

                if (SortColumn != null)
                {
                    query = SortDirection == OpenStore.Omnichannel.SortDirection.Ascending ?
                        query.OrderBy(SortColumn.Property) :
                        query.OrderByDescending(SortColumn.Property);
                }

                if (!string.IsNullOrWhiteSpace(_filterTerm))
                {
                    query = query.Search(
                        Columns
                            .Where(c => c.IsFilterable)
                            .Select(x => x.Property),
                        _filterTerm);
                }

                PageCount = (int)Math.Ceiling(query.ToList().Count / (double)PageSize);

                _pagedItems = query
                    .Skip((PageNumber - 1) * PageSize)
                    .Take(PageSize)
                    .Select(x => new DataGridEnvelope<TItem>(x))
                    .ToList();
            }
        }
    }

    private object GetColumnAscDesc(OsDataGridColumn<TItem> column)
    {
        if (!column.IsSortable) return "";

        if (SortColumn != null && column.Guid == SortColumn?.Guid)
        {
            return SortDirection == OpenStore.Omnichannel.SortDirection.Descending ? "fas fa-sort-down" : "fas fa-sort-up";
        }
        return "fas fa-sort";
    }

    private Task SelectAllChanged(ChangeEventArgs arg)
    {
        foreach (var pagedItem in _pagedItems)
        {
            pagedItem.Selected = (bool)arg.Value;
        }
        StateHasChanged();

        return OnSelectedItemsChanged();
    }

    private Task SelectItemChanged(ChangeEventArgs arg, DataGridEnvelope<TItem> item)
    {
        item.Selected = (bool)arg.Value;
        StateHasChanged();

        return OnSelectedItemsChanged();
    }

    private async Task OnSelectedItemsChanged()
    {
        var selectedItems = _pagedItems.Where(x => x.Selected).Select(x => x.Item);

        await SelectedItemsChanged.InvokeAsync(selectedItems);
    }

}