<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeView>
                <Authorizing>
                    <p>Checking authorization...</p>
                </Authorizing>
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                </Authorized>
                <NotAuthorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(NotAuthorizedLayout)">
                        <NotAuthorized Context="otherState">
                            @if (!otherState.User.Identity.IsAuthenticated)
                            {
                                <RedirectToLogin/>
                            }
                            else
                            {
                                <RedirectToHome/>
                            }
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </NotAuthorized>
            </AuthorizeView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <RedirectToLogin/>
                        }
                    </NotAuthorized>
                    <Authorized>
                        <RedirectToHome/>
                    </Authorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>