@page "/products"
@inject IStringLocalizer<Index> L

<OsBreadcrumb RootHref="products" RootTitle="@L["Breadcrumb.Home"]" CurrentTitle="@L["Breadcrumb.ProductList"]">
    <TitleSection>
        @L["Breadcrumb.ProductList"]
    </TitleSection>
    <ButtonsSection>
        <NavLink href="products/add" class="btn btn-primary">
            <Icon Name="IconName.PlusCircle" Class="fa-fw me-1"/>@L["AddProduct"]
        </NavLink>
    </ButtonsSection>
</OsBreadcrumb>

<div class="mb-sm-4 mb-3 d-sm-flex">
    <div class="mt-sm-0 mt-2">
        <a href="#" class="text-dark text-decoration-none">
            <i class="fa fa-download fa-fw me-1 text-muted"></i> Export
        </a>
    </div>
    <div class="ms-sm-4 mt-sm-0 mt-2">
        <a href="#" class="text-dark text-decoration-none">
            <i class="fa fa-upload fa-fw me-1 text-muted"></i> Import
        </a>
    </div>
    <div class="ms-sm-4 mt-sm-0 mt-2 dropdown-toggle">
        <a href="#" data-bs-toggle="dropdown" class="text-dark text-decoration-none">More Actions</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
</div>

<Card>
    <ul class="nav nav-tabs nav-tabs-v2 px-4">
        <li class="nav-item me-3">
            <a href="#allTab" class="nav-link active px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("allTab"))">@L["ProductListTab.All"]</a>
        </li>
        <li class="nav-item me-3">
            <a href="#activeTab" class="nav-link px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("activeTab"))">@L["ProductListTab.Active"]</a>
        </li>
        <li class="nav-item me-3">
            <a href="#draftTab" class="nav-link px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("draftTab"))">@L["ProductListTab.Draft"]</a>
        </li>
        <li class="nav-item me-3">
            <a href="#deletedTab" class="nav-link px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("deletedTab"))">@L["ProductListTab.Deleted"]</a>
        </li>
    </ul>
    <div class="tab-content p-4">
        <div class="tab-pane fade show active" id="allTab">
            @if (_currentTab == "allTab")
            {
                <IndexProductList FetchData="GetAll"/>
            }
        </div>
        <div class="tab-pane fade" id="activeTab">
            @if (_currentTab == "activeTab")
            {
                <IndexProductList FetchData="GetActive"/>
            }
        </div>
        <div class="tab-pane fade" id="draftTab">
            @if (_currentTab == "draftTab")
            {
                <IndexProductList FetchData="GetDraft"/>
            }
        </div>

        <div class="tab-pane fade" id="deletedTab">
            @if (_currentTab == "deletedTab")
            {
                <IndexProductList FetchData="GetDeleted"/>
            }
        </div>
    </div>
</Card>


@code {
    private string _currentTab = "allTab";

    private async Task<PagedListDto<ProductListItemReadModel>> GetAll(PageRequest pageRequest) => await ApiClient.Product.GetAll(pageRequest);
    private async Task<PagedListDto<ProductListItemReadModel>> GetActive(PageRequest pageRequest) => await ApiClient.Product.GetActive(pageRequest);
    private async Task<PagedListDto<ProductListItemReadModel>> GetDraft(PageRequest pageRequest) => await ApiClient.Product.GetDraft(pageRequest);
    private async Task<PagedListDto<ProductListItemReadModel>> GetDeleted(PageRequest pageRequest) => await ApiClient.Product.GetDeleted(pageRequest);

    private void ChangeCurrentTab(string currentTab) => _currentTab = currentTab;

}