@page "/products"

<PageTitle>OpenStore | @L["Breadcrumb.ProductList"]</PageTitle>

@inject IStringLocalizer<Index> L
@inject ProductIndexViewModel ViewModel

<OsPageTitle>
    <TitleSection>
        <span>@L["Breadcrumb.ProductList"]</span>
    </TitleSection>
    <ButtonsSection>
        <NavLink href="products/add" class="btn btn-primary">
            <Icon Name="IconName.PlusCircle" Class="fa-fw me-1"/>@L["AddProduct"]
        </NavLink>
    </ButtonsSection>
</OsPageTitle>

<div class="mb-sm-4 mb-3 d-sm-flex">
    <div class="mt-sm-0 mt-2">
        <a href="#" class="text-dark text-decoration-none">
            <i class="fa fa-download fa-fw me-1 text-muted"></i> Export
        </a>
    </div>
    <div class="ms-sm-4 mt-sm-0 mt-2">
        <a href="#" class="text-dark text-decoration-none">
            <i class="fa fa-upload fa-fw me-1 text-muted"></i> Import
        </a>
    </div>
    <div class="ms-sm-4 mt-sm-0 mt-2 dropdown-toggle">
        <a href="#" data-bs-toggle="dropdown" class="text-dark text-decoration-none">More Actions</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
</div>

<Card>
    <ul class="nav nav-tabs nav-tabs-v2 px-4">
        <li class="nav-item me-3">
            <a href="#allTab" class="nav-link active px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("allTab"))">@L["ProductListTab.All"]</a>
        </li>
        <li class="nav-item me-3">
            <a href="#activeTab" class="nav-link px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("activeTab"))">@L["ProductListTab.Active"]</a>
        </li>
        <li class="nav-item me-3">
            <a href="#draftTab" class="nav-link px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("draftTab"))">@L["ProductListTab.Draft"]</a>
        </li>
        <li class="nav-item me-3">
            <a href="#archivedTab" class="nav-link px-2" data-bs-toggle="tab" @onclick="@(_ => ChangeCurrentTab("archivedTab"))">@L["ProductListTab.Archived"]</a>
        </li>
    </ul>
    <div class="tab-content p-4">
        <div class="tab-pane fade show active" id="allTab">
            @if (_currentTab == "allTab")
            {
                <IndexProductList FetchData="ViewModel.GetAll"/>
            }
        </div>
        <div class="tab-pane fade" id="activeTab">
            @if (_currentTab == "activeTab")
            {
                <IndexProductList FetchData="ViewModel.GetActive"/>
            }
        </div>
        <div class="tab-pane fade" id="draftTab">
            @if (_currentTab == "draftTab")
            {
                <IndexProductList FetchData="ViewModel.GetDraft"/>
            }
        </div>
        <div class="tab-pane fade" id="archivedTab">
            @if (_currentTab == "archivedTab")
            {
                <IndexProductList FetchData="ViewModel.GetArchived"/>
            }
        </div>
    </div>
</Card>

@code {
    private string _currentTab = "allTab";

    private void ChangeCurrentTab(string currentTab) => _currentTab = currentTab;

}