@using OpenStore.Omnichannel.Shared.Dto.Product
@inject IStringLocalizer<InventoryEditor> L

<ListGroup Margin="Margin.Is3.FromBottom">
    <ListGroupItem>
        <h5 class="mt-2 mb-3">
            @L["Title"]
        </h5>
 
        <Fields Class="row" Margin="Margin.Is3.FromBottom">
            <Field ColumnSize="ColumnSize.Is6">
                <FieldLabel>@L["Input.Barcode"]</FieldLabel>
                <FieldBody>
                    <TextEdit @bind-Text="@Model.Barcode"/>
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.Is6">
                <FieldLabel>@L["Input.Sku"]</FieldLabel>
                <FieldBody>
                    <TextEdit @bind-Text="@Model.Sku"/>
                </FieldBody>
            </Field>
        </Fields>

        <Field Margin="Margin.Is1.FromBottom">
            <FieldBody>
                <Check TValue="bool" @bind-Checked="@Model.TrackQuantity">@L["Input.TrackQuantity"]</Check>
            </FieldBody>
        </Field>
    </ListGroupItem>
    @if (Model.TrackQuantity)
    {
        <ListGroupItem>
            <Field ColumnSize="ColumnSize.Is3" Margin="Margin.Is3.FromBottom">
                <FieldLabel>@L["Input.Quantity"]</FieldLabel>
                <FieldBody>
                    <InputNumber @bind-Value="@Model.Quantity"
                                 min="0"
                                 class="form-control"
                                 DisplayName="@L["Input.Stock"]"/>
                </FieldBody>
            </Field>
            <Field Margin="Margin.Is1.FromBottom">
                <FieldBody>
                    <Check TValue="bool" @bind-Checked="@Model.ContinueSellingWhenOutOfStock">@L["Input.SellWhenOutOfStock"]</Check>
                </FieldBody>
            </Field>
        </ListGroupItem>
    }
</ListGroup>

@code {

    [Parameter]
    public VariantDto Model { get; set; }

}