@inject IStringLocalizer<ShippingEditor> L

<ListGroup Margin="global::Blazorise.Margin.Is3.FromBottom">
    <ListGroupItem>
        <h5 class="mt-2 mb-2">
            @L["Title"]
        </h5>
        <Field>
            <FieldBody>
                <Check TValue="bool" Readonly="@ViewModel.Product.IsEdit" @bind-Checked="@ViewModel.Product.IsPhysicalProduct">@L["Input.IsPhysicalProduct"]</Check>
            </FieldBody>
        </Field>
    </ListGroupItem>
    @if (ViewModel.Product.IsPhysicalProduct)
    {
        <ListGroupItem>
            <Row>
                <Field ColumnSize="ColumnSize.Is3">
                    <FieldLabel>@L["Input.Weight"]</FieldLabel>
                    <FieldBody>
                        <NumericEdit TValue="decimal?" @bind-Value="@ViewModel.Product.Weight" Decimals="1">
                        </NumericEdit>
                    </FieldBody>
                </Field>
                <Field ColumnSize="ColumnSize.Is2">
                    <FieldLabel>@L["Input.WeightUnit"]</FieldLabel>
                    <FieldBody>
                        <Select TValue="string" @bind-SelectedValue="@ViewModel.Product.WeightUnit" class="form-control">
                            <SelectItem TValue="string" Value="@((string) null)"></SelectItem>
                            <SelectItem TValue="string" Value='"kg"'>kg</SelectItem>
                            <SelectItem TValue="string" Value='"g"'>g</SelectItem>
                            <SelectItem TValue="string" Value='"lb"'>lb</SelectItem>
                        </Select>
                    </FieldBody>
                </Field>
                <FieldHelp>@L["InputHelp.Weight"]</FieldHelp>

            </Row>
        </ListGroupItem>
        <ListGroupItem>
            <Row>
                <Field ColumnSize="ColumnSize.Is5">
                    <FieldLabel>@L["Input.HsCode"]</FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="@ViewModel.Product.HsCode">
                        </TextEdit>
                        @* *@
                        @* <Autocomplete TItem="MySelectModel" TValue="string" *@
                        @*     Data="@Model.HsCode" *@
                        @*     @bind-SelectedValue="@Model.HsCode" *@
                        @*     Placeholder="Search..." /> *@
                    </FieldBody>
                </Field>
                <FieldHelp>@L["InputHelp.HsCode"]</FieldHelp>
            </Row>
        </ListGroupItem>
    }
</ListGroup>

@code {

    [CascadingParameter]
    public ProductViewModelBase ViewModel { get; set; }
 
}