@model ShoppingCartViewModel

@if (Model is null || !Model.ShoppingCart.Items.Any())
{
    <div class="alert alert-warning mt-3">
        <p class="icontext">
            <i class="icon text-success fa fa-truck"></i> @L["ShoppingCart.Warning.EmptyCart"]
        </p>
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-light">
        <i class="fa fa-chevron-left"></i> @L["ShoppingCart.Button.ContinueShopping"]
    </a>
}
else
{
    <div class="card">
        <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
            <tr class="small text-uppercase">
                <th scope="col">@L["ShoppingCart.Column.Product"]</th>
                <th scope="col" width="120">@L["ShoppingCart.Column.Quantity"]</th>
                <th scope="col" width="120">@L["ShoppingCart.Column.Price"]</th>
                <th scope="col" class="text-right" width="200"> </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ShoppingCart.Items)
            {
                <tr class="cart-item" id="cart-item-@item.Id">
                    <td>
                        <figure class="itemside">
                            <div class="aside">
                                <img src="@item.PhotoUrl" alt="@item.ProductTitle" class="img-sm">
                            </div>
                            <figcaption class="info">
                                <a asp-controller="Catalog" asp-action="ProductDetail" asp-route-handle="@item.Handle" target="_blank" class="title text-dark">@item.ProductTitle</a>
                                <p class="text-muted small">@item.VariantTitle</p>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <form asp-controller="Checkout" asp-action="UpdateShoppingCartItemQuantity" method="post">
                            <input type="hidden" name="cartId" value="@Model.ShoppingCart.Id"/>
                            <input type="hidden" name="cartItemId" value="@item.Id"/>
                            <select name="quantity" class="form-control" onchange="this.form.submit()">
                                @for (var i = 1; i <= item.AvailableQuantity; i++)
                                {
                                    if (i == item.Quantity)
                                    {
                                        <option value="@i" selected="selected">@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </form> 
                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price">@((item.Price * item.Quantity).ToCurrencyStringNoSign())</var>
                            <small class="text-muted"> @item.Price.ToCurrencyStringNoSign() each </small>
                        </div>
                    </td>
                    <td class="text-right">
                        @* <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" *@
                        @*    data-toggle="tooltip"> *@
                        @*     <i class="fa fa-heart"></i> *@
                        @* </a> *@
                        <a href="javascript:void(0)" data-item-id="@item.Id" class="btn btn-light remove-cart-item-btn"> @L["ShoppingCart.Button.RemoveItem"]</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <div class="card-body border-top">
            <a asp-controller="Checkout" asp-action="Checkout" class="btn btn-primary float-md-right">
                @L["ShoppingCart.Button.MakePurchase"]
                <i class="fa fa-chevron-right">
                </i>
            </a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-light">
                <i class="fa fa-chevron-left"></i> @L["ShoppingCart.Button.ContinueShopping"]
            </a>
        </div>
    </div>

    <script type="module">
        const shoppingCart = new ShoppingCart();
        const elements = document.getElementsByClassName('remove-cart-item-btn');
         for (let element of elements) {
                const itemId = element.getAttribute("data-item-id");
                element.addEventListener("click",function(e){
                    if (shoppingCart.removeItem(itemId) !== false){
                        const $target = $('#cart-item-' + itemId);
                        $target.hide('slow', function(){ 
                            $target.remove();
                            if ($('.cart-item').length === 0){
                                location.reload();
                            }
                        });
                    }                    
                }, false);
        }
    </script>
}