@inherits AppBaseViewModelObservableComponent<CollectionUpdateViewModel>
@inject IStringLocalizer<Update> L

<ListGroup Margin="Margin.Is3.FromBottom">
    <ListGroupItem>
        <h5 class="mt-2 mb-2">
            @L["CollectionProductListEditor.Title"]
        </h5>
        <Row Margin="Margin.Is3.FromTop">
            <Field ColumnSize="ColumnSize.Is6" Margin="Margin.Is3.FromBottom">
                <OsSearchBox Placeholder="@L["CollectionProductListEditor.SearchBox.Placeholder"]" OnValueChanged="ViewModel.SearchInItems"/>
            </Field>

            <Column ColumnSize="ColumnSize.Is3">
                <Button Color="Color.Light" Clicked="_modalRef.Show">@L["CollectionProductListEditor.Button.Browse"]</Button>
            </Column>
        </Row>
    </ListGroupItem>

    <ListGroupItem Padding="Padding.Is3">
        <div class="d-flex align-items-center" style="min-height: 36px">
            <div class="w-10px  align-middle">
                <Check TValue="bool" Class="form-check-input" CheckedChanged="ViewModel.SelectAllItems"/>
            </div>
            <div class="ms-3">
                <h6 class="m-0">
                    @L["ListGroupItem.ShowingXVariants", ViewModel.FilteredCollectionItems.Count]
                </h6>
            </div>
            <div class="ms-auto">
                @if (ViewModel.FilteredCollectionItems.Any(x => x.Selected))
                {
                    <Dropdown>
                        <DropdownToggle Color="Color.Light">
                            @L["Dropdown.BulkOperation"]
                        </DropdownToggle>
                        <DropdownMenu>
                            <DropdownItem Class="text-danger" Clicked="BulkRemoveItems">@SharedLocalizer["Generic.Delete"]</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                }
            </div>
        </div>
    </ListGroupItem>

    @foreach (var item in ViewModel.FilteredCollectionItems)
    {
        <ListGroupItem Class="list-group-item-action" Style="color: unset">
            <div class="d-flex align-items-center">

                <div class="w-10px  align-middle">
                    <Check TValue="bool" Class="form-check-input" @bind-Checked="@item.Selected"/>
                </div>
                <div class="ms-3 d-flex w-100 align-items-center">
                    <OsProductThumb Src="@item.PhotoUrl"/>
                    <div class="ms-3">
                        <h6 class="m-0">
                            @item.Title
                        </h6>
                    </div>
                    <div class="ms-auto">
                        <Button Size="Size.Small" Clicked="@(() => RemoveItem(item))">
                            <Icon Name="IconName.Delete"></Icon>
                        </Button>
                    </div>
                </div>

            </div>
        </ListGroupItem>
    }

</ListGroup>

<CollectionProductListEditorAddItemModal @ref="_modalRef"/>

@code {
    CollectionProductListEditorAddItemModal _modalRef;

    private async Task RemoveItem(ProductCollectionItemDto item)
    {
        if (Confirm(SharedLocalizer["GenericDeleteConfirm"]))
        {
            await ViewModel.RemoveItem(item);
        }
    }

    private async Task BulkRemoveItems()
    {
        if (Confirm(SharedLocalizer["GenericDeleteConfirm"]))
        {
            await ViewModel.BulkRemoveItems();
        }
    }

}