@inherits AppBaseViewModelObservableComponent<CollectionUpdateViewModel>
@inject IStringLocalizer<Update> L

<Modal @ref="_modalRef">
    <ModalContent Centered="true">
        <ModalHeader Style="border: none">
            <ModalTitle>@L["AddProductToCollectionModal.Title"]</ModalTitle>
        </ModalHeader>
        <ModalBody Class="overflow-auto" Style="max-height: 500px; padding: 0">
            <ListGroup Style="border-radius: 0">
                <ListGroupItem>
                    <OsSearchBox Loading="@ViewModel.SearchingForEligibleItems"
                                 Value="@_searchTerm"
                                 Placeholder="@L["CollectionProductListEditor.SearchPlaceholder"]"
                                 OnValueChanged="SearchForEligibleItems"/>
                </ListGroupItem>

                @foreach (var item in ViewModel.EligibleCollectionItems)
                {
                    <ListGroupItem Style="color: unset; border-radius: 0">
                        <div class="d-flex align-items-center">

                            <div class="w-10px  align-middle">
                                <Check TValue="bool" Class="form-check-input" @bind-Checked="@item.Selected"/>
                            </div>
                            <div class="ms-3 d-flex w-100 align-items-center">
                                <OsProductThumb Src="@item.PhotoUrl"/>
                                <div class="ms-3">
                                    <h6 class="m-0">
                                        @item.Title
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </ListGroupItem>
                }

            </ListGroup>

        </ModalBody>
        <ModalFooter Style="border: none">
            <Button Color="Color.Light" Clicked="Hide">@SharedLocalizer["Generic.Close"]</Button>
            <Button Color="Color.Success" Loading="ViewModel.SavingEligibleItems" Clicked="ViewModel.SaveSelectedEligibleItems">
                @SharedLocalizer["Generic.Save"]
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    Modal _modalRef;
    string _searchTerm;

    public void Show() => _modalRef.Show();

    private void Hide()
    {
        _modalRef.Hide();
        _searchTerm = null;
    }

    private async Task SearchForEligibleItems(string term)
    {
        _searchTerm = term;
      
        await ViewModel.SearchForEligibleItems(term);
    }

}