@page "/products/collections/add"

@inject IStringLocalizer<Create> L
@inherits AppBaseViewModelObservableComponent<CollectionCreateViewModel>

<CascadingValue Value="ViewModel">
    <Container>
        <Row class="justify-content-center">
            <Column ColumnSize="ColumnSize.Is8.OnDesktop">
                <OsPageTitle RootHref="products/collections">
                    <TitleSection>
                        @if (string.IsNullOrWhiteSpace(ViewModel.Collection.Title))
                        {
                            <span>@L["NewCollection"]</span>
                        }
                        else
                        {
                            <span>@ViewModel.Collection.Title</span>
                        }
                    </TitleSection>
                    <ButtonsSection>
                        <Button Loading="ViewModel.Saving" Clicked="Save" Color="Color.Success">
                            @if (!ViewModel.Saving)
                            {
                                <Icon Name="IconName.Save" Class="me-1"></Icon>
                            }
                            @SharedLocalizer["Generic.Save"]
                        </Button>
                    </ButtonsSection>
                </OsPageTitle>

                <Validations @ref="_validations" Mode="ValidationMode.Manual" Model="ViewModel.Collection">
                    <Row>
                        <Column ColumnSize="ColumnSize.Is12">
                            <Alert Color="Color.Danger" Visible="@_formHasErrors">
                                <Heading Size="HeadingSize.Is6" TextColor="TextColor.Danger">
                                    @L["Alert.ValidationErrors"]
                                </Heading>
                                <Blazorise.ValidationSummary Margin="Margin.Is0"/>
                            </Alert>
                        </Column>
                    </Row>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is8.OnDesktop">
                            <CollectionContentEditor/>
                            <MetaEditor/>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                            <ListGroup Margin="Margin.Is3.FromBottom">
                                asdfasdfadf
                            </ListGroup>
                        </Column>
                    </Row>
                </Validations>
                <hr class="mb-4">
                <Row>
                    <div class="d-flex align-items-center mb-4">
                        <div class="ms-auto">
                            <Button Loading="ViewModel.Saving" Clicked="Save" Color="Color.Success">
                                @if (!ViewModel.Saving)
                                {
                                    <Icon Name="IconName.Save" Class="me-1"></Icon>
                                }
                                @L["Generic.Save"]
                            </Button>
                        </div>
                    </div>
                </Row>
            </Column>
        </Row>
    </Container>
</CascadingValue>

@code {
    private Validations _validations;

    private bool _formHasErrors;

    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ViewModel.Init();
    }

    private async Task Save()
    {
        _formHasErrors = !await _validations.ValidateAll();
        if (_formHasErrors)
        {
            return;
        }

        await ViewModel.Create();
    }

}