@page "/products/collections"

@inject IStringLocalizer<Index> L
@inject CollectionIndexViewModel ViewModel

<OsPageTitle>
    <TitleSection>
        <span>@L["Breadcrumb.CollectionList"]</span>
    </TitleSection>
    <ButtonsSection>
        <NavLink href="products/collections/add" class="btn btn-primary">
            <Icon Name="IconName.PlusCircle" Class="fa-fw me-1"/>@L["AddCollection"]
        </NavLink>
    </ButtonsSection>
</OsPageTitle>

<Card>
    <ul class="nav nav-tabs nav-tabs-v2 px-4">
        <li class="nav-item me-3">
            <a href="#default-tab" class="nav-link active px-2" data-bs-toggle="tab">@L["ProductListTab.All"]</a>
        </li>
    </ul>
    <div class="tab-content p-4">
        <div class="tab-pane fade show active" id="default-tab">
            <OsDataGrid TItem="CollectionListItemDto" FetchData="ViewModel.GetAll" PageSize="PageSize">
                <OsDataGridColumn CustomTitle="@L["ColumnHeader.Title"]" TItem="CollectionListItemDto">
                    <RowTemplate Context="item">
                        <div class="d-flex align-items-center">
                            <OsProductThumb Src="@item.PhotoUrl"/>
                            <div class="ms-3">
                                <a href="@($"products/collections/{item.Id}")">@item.Title</a>
                            </div>
                        </div>
                    </RowTemplate>
                </OsDataGridColumn>
            </OsDataGrid>
        </div>
    </div>
</Card>


@code {
        private const int PageSize = 50;

}