@model ProductDetailViewModel
@{
    var optionDictionary = Context.Request
        .Query
        .Where(x => x.Key.StartsWith("option_")).ToDictionary(x => x.Key, y => y.Value.ToString()); 
    
    var product = Model.ProductDetail;
    var variant = product.Variants.Count == 1 || optionDictionary.Count == 0 ? 
        product.Variants.First() 
        : product
            .Variants
            .SingleOrDefault(v => 
                (v.Option1 == null || optionDictionary.Values.ElementAt(0) == v.Option1)
                && (v.Option2 == null || optionDictionary.Values.ElementAt(1) == v.Option2)
                && (v.Option3 == null || optionDictionary.Values.ElementAt(2) == v.Option3)
            );
 
    variant ??= product.Variants.First();
    
    var quantity = variant.Quantity;
    var trackQuantity = variant.TrackQuantity;
    var stockAvailable = variant.AvailableQuantity > 0;
}

<section class="section-content padding-y bg">
    <div class="container">

        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            @if (product.FirstMedia != null)
                            {
                                <a href="#">
                                    <img src="@product.FirstMedia.Url" alt="@product.FirstMedia.Title">
                                </a>
                            }
                        </div>
                        <div class="thumbs-wrap">

                            @foreach (var media in product.Medias.OrderBy(x => x.Position).Where(x => x.Id != product.FirstMedia?.Id))
                            {
                                <a href="#" class="item-thumb">
                                    <img src="@media.Url" alt="@media.Title">
                                </a>
                            }

                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">@Model.ProductDetail.Title</h2>
                        <div class="mb-3">
                            <var class="price h3">@variant.Price.ToCurrencyStringNoSign()</var>
                            @if (variant.CompareAtPrice is not null)
                            {
                                <del class="price h5 text-danger text-muted">@variant.CompareAtPrice?.ToCurrencyStringNoSign()</del>
                            }
                        </div>

                        @if (product.Options.Count > 0)
                        {
                            <hr>
                            <div class="form-row">

                                <form asp-action="ProductDetail" method="GET">

                                    @foreach (var option in product.Options)
                                    {
                                        if (option.Values.Count == 1)
                                        {
                                            <input type="hidden" name="option_@option.Name" value="@option.Values.First()"/>
                                        }
                                        else
                                        {
                                            var optionValue = optionDictionary.GetValueOrDefault($"option_{option.Name}") ?? option.Values.First();

                                            <div class="form-group col-md">
                                                <label for="@option.Name">@option.Name</label>
                                                <select class="form-control" name="option_@option.Name" onchange="this.form.submit();">
                                                    @foreach (var value in option.Values)
                                                    {
                                                        if (optionValue == value)
                                                        {
                                                            <option value="@value" selected="selected">@value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@value">@value</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        }
                                    }
                                </form>
                            </div>
                        }

                        <hr/>
                        <div class="form-row">
                            @if (trackQuantity && stockAvailable)
                            {
                                <div class="form-group col-md flex-grow-0">
                                    <label>@L["ProductDetail.Label.Quantity"]</label>
                                    <div class="input-group mb-3 input-spinner">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light" type="button" id="button-plus"> +</button>
                                        </div>
                                        <input type="text" id="quantity-input" class="form-control" value="1" max="@quantity">
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button" id="button-minus">
                                                &minus;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        
                        @if (stockAvailable)
                        {
                            <a href="javascript:void(0)" data-variant-id="@variant.Id" class="btn btn-outline-primary add-to-cart-btn">
                                <span class="text">@VL["General.Button.AddToCart"]</span>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="btn  btn-outline-gray disabled">
                                <span class="text">@VL["Button.NotAvailable"]</span>
                            </a>
                        }

                    </article>
                </main>
            </div>
        </div>

        <br/>
        <br/>

        <article class="card">
            <div class="card-body">
                @* <div class="row"> *@
                @*     <aside class="col-md-6"> *@
                @*         <h5>Parameters</h5> *@
                @*         <dl class="row"> *@
                @*             <dt class="col-sm-3">Display</dt> *@
                @*             <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Processor</dt> *@
                @*             <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Camera</dt> *@
                @*             <dd class="col-sm-9">720p FaceTime HD camera</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Memory</dt> *@
                @*             <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Graphics</dt> *@
                @*             <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd> *@
                @*         </dl> *@
                @*     </aside> *@
                @*     <aside class="col-md-6"> *@
                @*         <h5>Features</h5> *@
                @*         <ul class="list-check"> *@
                @*             <li>Best performance of battery</li> *@
                @*             <li>5 years warranty for this product</li> *@
                @*             <li>Amazing features and high quality</li> *@
                @*             <li>Best performance of battery</li> *@
                @*             <li>5 years warranty for this product</li> *@
                @*             <li>Amazing features and high quality</li> *@
                @*         </ul> *@
                @*     </aside> *@
                @* </div> *@
                @* <hr> *@
                <p>
                    @Html.Raw(Model.ProductDetail.Description)
                </p>
            </div>
        </article>


    </div>
</section>

<script type="module">
    const shoppingCart = new ShoppingCart();
    const elements = document.getElementsByClassName("add-to-cart-btn");
    for (let element of elements) {
        const variantId = element.getAttribute("data-variant-id");
        element.addEventListener("click",function(e){
            const quantityInput = document.getElementById('quantity-input');
            let qty = 0;
            if (quantityInput){
                qty = quantityInput.value;
            }
            shoppingCart.addItem(variantId, qty);
        }, false);
    }
</script>