@model ProductDetailViewModel

<section class="section-content padding-y bg">
    <div class="container">
        
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            @if (Model.ProductDetail.FirstMedia != null)
                            {
                                <a href="#">
                                    <img src="@Model.ProductDetail.FirstMedia.Url" alt="@Model.ProductDetail.FirstMedia.Title">
                                </a>
                            }
                        </div>
                        <div class="thumbs-wrap">

                            @foreach (var media in Model.ProductDetail.Medias.OrderBy(x => x.Position).Where(x => x.Id != Model.ProductDetail.FirstMedia?.Id))
                            {
                                <a href="#" class="item-thumb">
                                    <img src="@media.Url" alt="@media.Title">
                                </a>
                            }
                       
                        </div>  
                    </article>  
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">@Model.ProductDetail.Title</h2>
                        

                        <div class="mb-3">
                            <var class="price h3">@Model.ProductDetail.Variants.First().Price.ToCurrencyString()</var>
                            <var class="price h5">@Model.ProductDetail.Variants.First().CompareAtPrice?.ToCurrencyString()</var>
                         </div>
 
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md flex-grow-0">
                                <label>Quantity</label>
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus"> +</button>
                                    </div>
                                    <input type="text" class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus">
                                            &minus;
                                        </button>
                                    </div>
                                </div>
                            </div>  
                            <div class="form-group col-md">
                                <label>Select size</label>
                                <div class="mt-1">
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" checked=""
                                               class="custom-control-input">
                                        <div class="custom-control-label">Small</div>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" class="custom-control-input">
                                        <div class="custom-control-label">Medium</div>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" class="custom-control-input">
                                        <div class="custom-control-label">Large</div>
                                    </label>

                                </div>
                            </div>  
                        </div>
                        <a href="#" class="btn  btn-outline-primary">
                            <span class="text">@VL["Button.AddToCart"]</span>
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </article>  
                </main> 
            </div>  
        </div>  
        
        <br/>
        <br/>
        
        <article class="card">
            <div class="card-body">
                @* <div class="row"> *@
                @*     <aside class="col-md-6"> *@
                @*         <h5>Parameters</h5> *@
                @*         <dl class="row"> *@
                @*             <dt class="col-sm-3">Display</dt> *@
                @*             <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Processor</dt> *@
                @*             <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Camera</dt> *@
                @*             <dd class="col-sm-9">720p FaceTime HD camera</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Memory</dt> *@
                @*             <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd> *@
                @* *@
                @*             <dt class="col-sm-3">Graphics</dt> *@
                @*             <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd> *@
                @*         </dl> *@
                @*     </aside> *@
                @*     <aside class="col-md-6"> *@
                @*         <h5>Features</h5> *@
                @*         <ul class="list-check"> *@
                @*             <li>Best performance of battery</li> *@
                @*             <li>5 years warranty for this product</li> *@
                @*             <li>Amazing features and high quality</li> *@
                @*             <li>Best performance of battery</li> *@
                @*             <li>5 years warranty for this product</li> *@
                @*             <li>Amazing features and high quality</li> *@
                @*         </ul> *@
                @*     </aside> *@
                @* </div> *@
                @* <hr> *@
                <p>
                    @Html.Raw(Model.ProductDetail.Description)
                </p>
            </div> 
        </article> 


    </div>
</section>