@model OpenStore.Omnichannel.Identity.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = L["Account.PasswordReset"];
}

<div class="pt-32pt pt-sm-64pt pb-32pt">
    <div class="container page__container">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="col-md-5 p-0 mx-auto">
            <partial name="AccountValidationSummary"/>
            <div class="form-group">
                <label class="form-label" asp-for="Email">
                    @L["Account.PasswordReset.Email"]
                </label>
                <input asp-for="Email" class="form-control" placeholder="@L["Account.PasswordReset.Email"]">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary"> @L["Account.PasswordReset"]</button>
            </div>
        </form>
    </div>
</div>

<p class="text-center mt-4">
    @L["Account.DontHaveAccount"] <a asp-action="Register">@L["Account.SignUp"]</a>
</p>